mission/near/v1/PDS4_NEAR_1G00_1000.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <!-- PDS4 XML/Schema for Name Space Id:near  Version:1.0.0.0 - Tue Mar 14 16:13:07 UTC 2023 -->
  <!-- Generated from the PDS4 Information Model Version 1.16.0.0 - System Build 11.1 -->
  <!-- *** This PDS4 product schema is an operational deliverable. *** -->
  <!--                                                                           -->
  <!--               Dictionary Stack                                            -->
  <!-- 1.16.0.0 - pds: - Common Dictionary                                       -->
  <!-- 1.0.0.0 - near: - NEAR Mission Dictionary                                 -->
  <!--                                                                           -->
  <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://pds.nasa.gov/pds4/mission/near/v1"
    xmlns:near="http://pds.nasa.gov/pds4/mission/near/v1"
    xmlns:pds="http://pds.nasa.gov/pds4/pds/v1"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="1.0.0.0">
 
    <xs:import namespace="http://pds.nasa.gov/pds4/pds/v1" schemaLocation="https://pds.nasa.gov/pds4/pds/v1/PDS4_PDS_1G00.xsd"/>
 
  <xs:annotation>
    <xs:documentation>
The mission dictionary for NEAR to support the PDS3 to 4 migration.
    </xs:documentation>
  </xs:annotation>
 
  <xs:element name="NEAR" type="near:NEAR"> </xs:element>

  <xs:complexType name="NEAR">
    <xs:annotation>
      <xs:documentation>NEAR mission related
        properties</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Observation_Information" type="near:Observation_Information" minOccurs="1" maxOccurs="1"> </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Observation_Information">
    <xs:annotation>
      <xs:documentation>Observation related properties
        </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="sequence_table_ID" type="near:sequence_table_ID" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="sequence_title" type="near:sequence_title" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="inst_cmprs_quantz_tbl_id" type="near:inst_cmprs_quantz_tbl_id" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="spacecraft_clock_start_count" type="near:spacecraft_clock_start_count" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="spacecraft_clock_stop_count" type="near:spacecraft_clock_stop_count" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="device_temperature" type="near:device_temperature" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="instrument_mode" type="near:instrument_mode" minOccurs="0" maxOccurs="1"> </xs:element>
    </xs:sequence>
  </xs:complexType>

    <xs:annotation>
      <xs:documentation>This section contains the simpleTypes that provide more constraints
        than those at the base data type level. The simpleTypes defined here build on the base data
        types. This is another component of the common dictionary and therefore falls within the
        common namespace.
      </xs:documentation>
    </xs:annotation>

  <xs:simpleType name="device_temperature">
    <xs:annotation>
      <xs:documentation>The INSTRUMENT_TEMPERATURE element provides the
        temperature, in degrees Celsius, of an instrument or some part
        of an instrument. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Short_String_Collapsed">
     <xs:minLength value="1"/>
     <xs:maxLength value="255"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="inst_cmprs_quantz_tbl_id">
    <xs:annotation>
      <xs:documentation>The inst_cmprs_quantz_tbl_id element identifies
        the reference table used for quantization in the frequency
        domain for on-board transform compression. This name or code
        should be specific enough to allow the user of the data to have
        sufficient information to reference the quantization table used
        to compress the data.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1.7976931348623157e308"/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="instrument_mode">
    <xs:annotation>
      <xs:documentation>The instrument_mode element provides the name of
        the mode the grs instrument was operating in at the time of the
        observation. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Short_String_Collapsed">
     <xs:minLength value="1"/>
     <xs:maxLength value="255"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="sequence_table_ID">
    <xs:annotation>
      <xs:documentation>The sequence_table_id element provides an unique
        identified for the sequence table that was used for a set of
        observations. The sequence table provides the image acquistion
        sequences that specify the camera and filter image sequencing.
        It indicates the order in which cameras are shuttered and the
        order for which filters are used.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Short_String_Collapsed">
     <xs:minLength value="1"/>
     <xs:maxLength value="255"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="sequence_title">
    <xs:annotation>
      <xs:documentation>The sequence_title element provides the title
        assigned to a particular observation sequence during planning or
        data processing.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Short_String_Collapsed">
     <xs:minLength value="1"/>
     <xs:maxLength value="255"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="spacecraft_clock_start_count">
    <xs:annotation>
      <xs:documentation>MET of image acquisition in seconds. MET
        corresponds to the last spacecraft 1-Hz pulse before the end of
        image integration, i.e., 918 ms before the end of image
        integration. See Murchie et al. (1998) [MURCHIEETAL1998] for a
        detailed explanation of timing of the 1 Hz pulse relative to
        image exposure. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Short_String_Collapsed">
     <xs:minLength value="1"/>
     <xs:maxLength value="255"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="spacecraft_clock_stop_count">
    <xs:annotation>
      <xs:documentation>MET of image acquisition in seconds. MET
        corresponds to the last spacecraft 1-Hz pulse before the end of
        image integration, i.e., 918 ms before the end of image
        integration. See Murchie et al. (1998) [MURCHIEETAL1998] for a
        detailed explanation of timing of the 1 Hz pulse relative to
        image exposure. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Short_String_Collapsed">
     <xs:minLength value="1"/>
     <xs:maxLength value="255"/>
	   </xs:restriction>
  </xs:simpleType>
</xs:schema>
