mission/cassini/v1/PDS4_CASSINI_1B00_1200.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <!-- PDS4 XML/Schema for Name Space Id:cassini  Version:1.11.0.0 - Tue Feb 12 10:36:40 PST 2019 -->
  <!-- Generated from the PDS4 Information Model Version 1.11.0.0 - System Build 9a -->
  <!-- *** This PDS4 product schema is an operational deliverable. *** -->
  <!--                                                                           -->
  <!--               Dictionary Stack                                            -->
  <!-- 1.11.0.0 - pds: - Common Dictionary - N/A                                 -->
  <!-- 1.11.0.0 - cassini: - Cassini Mission - PDS4_Cassini_IngestLDD_1B00_1200_ -->
  <!--                                                                           -->
  <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://pds.nasa.gov/pds4/mission/cassini/v1"
    xmlns:cassini="http://pds.nasa.gov/pds4/mission/cassini/v1"
    xmlns:pds="http://pds.nasa.gov/pds4/pds/v1"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="1.11.0.0">
 
    <xs:import namespace="http://pds.nasa.gov/pds4/pds/v1" schemaLocation="https://pds.nasa.gov/pds4/pds/v1/PDS4_PDS_1B00.xsd"/>
 
  <xs:annotation>
    <xs:documentation>
This XML schema file has been generated from the Information Model.
    </xs:documentation>
  </xs:annotation>
 
  <xs:element name="Cassini" type="cassini:Cassini"> </xs:element>

  <xs:complexType name="CIRS_Cubes_Specific_Attributes">
    <xs:annotation>
      <xs:documentation>The CIRS Cubes Specific Attributes class
        provides local attributes used by CIRS higher order
        products.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="mean_body_angular_semidiameter" nillable="true" type="cassini:mean_body_angular_semidiameter" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="mean_body_phase_angle" nillable="true" type="cassini:mean_body_phase_angle" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="mean_boresight_latitude_zpd" nillable="true" type="cassini:mean_boresight_latitude_zpd" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="mean_boresight_local_time" nillable="true" type="cassini:mean_boresight_local_time" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="mean_boresight_longitude_zpd" nillable="true" type="cassini:mean_boresight_longitude_zpd" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="mean_boresight_right_ascension" nillable="true" type="cassini:mean_boresight_right_ascension" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="mean_boresight_solar_phase" nillable="true" type="cassini:mean_boresight_solar_phase" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="mean_boresight_solar_zenith" nillable="true" type="cassini:mean_boresight_solar_zenith" minOccurs="0" maxOccurs="1"> </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CIRS_Specific_Attributes">
    <xs:annotation>
      <xs:documentation>The CIRS Specific Attributes class provides
        local attributes used by CIRS observations and derived
        products.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="mission_phase_name" nillable="true" type="cassini:mission_phase_name" minOccurs="0" maxOccurs="unbounded"> </xs:element>
      <xs:element name="spacecraft_clock_count_partition" nillable="true" type="cassini:spacecraft_clock_count_partition" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="spacecraft_clock_start_count" nillable="true" type="cassini:spacecraft_clock_start_count" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="spacecraft_clock_stop_count" nillable="true" type="cassini:spacecraft_clock_stop_count" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="line_name" nillable="true" type="cassini:line_name" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="sample_name" nillable="true" type="cassini:sample_name" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="first_line_center" nillable="true" type="cassini:first_line_center" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="first_sample_center" nillable="true" type="cassini:first_sample_center" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="last_line_center" nillable="true" type="cassini:last_line_center" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="last_sample_center" nillable="true" type="cassini:last_sample_center" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="line_center" nillable="true" type="cassini:line_center" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="sample_center" nillable="true" type="cassini:sample_center" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="total_spectral_power" nillable="true" type="cassini:total_spectral_power" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="focal_plane" nillable="true" type="cassini:focal_plane" minOccurs="0" maxOccurs="1"> </xs:element>
    </xs:sequence>
    <!-- Begin assert statements for schematron - Enumerated Values -->
    <!-- <xs:assert test="cassini:mission_phase_name = ('Approach Science', 'Earth Encounter', 'Equinox Mission', 'High Gain Antenna Transition', 'Huygens Descent', 'Huygens Probe Separation', 'Instrument Checkout 1', 'Instrument Checkout 2', 'Interplanetary Cruise', 'Jupiter Cruise', 'Jupiter Encounter', 'Launch', 'Outer Cruise', 'Phoebe Encounter', 'Proximal Orbits', 'Quiet Cruise', 'Saturn Orbit Insertion', 'Science Cruise', 'Solstice Mission', 'Space Science', 'TCM 1', 'Titan A Encounter', 'Titan B Encounter', 'Titan C Huygens', 'Tour', 'Tour Pre-Huygens', 'Venus 1 Cruise', 'Venus 1 Encounter', 'Venus 2 - Earth Cruise', 'Venus 2 Encounter')"/> -->
    <!-- <xs:assert test="cassini:focal_plane = ('1', '3', '4')"/> -->
    <!-- End assert statements for schematron - Enumerated Values -->
  </xs:complexType>

  <xs:complexType name="Cassini">
    <xs:annotation>
      <xs:documentation>This is the umbrella class for the Cassini
        mission dictionary.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CIRS_Specific_Attributes" type="cassini:CIRS_Specific_Attributes" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="CIRS_Cubes_Specific_Attributes" type="cassini:CIRS_Cubes_Specific_Attributes" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="UVIS_Specific_Attributes" type="cassini:UVIS_Specific_Attributes" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="ISS_Specific_Attributes" type="cassini:ISS_Specific_Attributes" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="VIMS_Specific_Attributes" type="cassini:VIMS_Specific_Attributes" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="PPI_Specific_Attributes" type="cassini:PPI_Specific_Attributes" minOccurs="0" maxOccurs="1"> </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ISS_Specific_Attributes">
    <xs:annotation>
      <xs:documentation>The ISS Specific Attributes class provides local
        attributes used by ISS observations.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="mission_phase_name" nillable="true" type="cassini:mission_phase_name" minOccurs="0" maxOccurs="unbounded"> </xs:element>
      <xs:element name="spacecraft_clock_count_partition" nillable="true" type="cassini:spacecraft_clock_count_partition" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="spacecraft_clock_start_count" nillable="true" type="cassini:spacecraft_clock_start_count" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="spacecraft_clock_stop_count" nillable="true" type="cassini:spacecraft_clock_stop_count" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="antiblooming_state_flag" nillable="true" type="cassini:antiblooming_state_flag" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="bias_strip_mean" nillable="true" type="cassini:bias_strip_mean" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="calibration_lamp_state_flag" nillable="true" type="cassini:calibration_lamp_state_flag" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="command_file_name" nillable="true" type="cassini:command_file_name" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="command_sequence_number" nillable="true" type="cassini:command_sequence_number" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="dark_strip_mean" nillable="true" type="cassini:dark_strip_mean" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="data_conversion_type" nillable="true" type="cassini:data_conversion_type" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="delayed_readout_flag" nillable="true" type="cassini:delayed_readout_flag" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="detector_temperature" nillable="true" type="cassini:detector_temperature" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="electronics_bias" nillable="true" type="cassini:electronics_bias" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="expected_packets" nillable="true" type="cassini:expected_packets" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="exposure_duration" nillable="true" type="cassini:exposure_duration" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="filter_name" nillable="true" type="cassini:filter_name" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="filter_temperature" nillable="true" type="cassini:filter_temperature" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="flight_software_version_id" nillable="true" type="cassini:flight_software_version_id" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="gain_mode_id" nillable="true" type="cassini:gain_mode_id" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="image_mid_time" nillable="true" type="cassini:image_mid_time" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="image_number" nillable="true" type="cassini:image_number" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="image_observation_type" nillable="true" type="cassini:image_observation_type" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="instrument_data_rate" nillable="true" type="cassini:instrument_data_rate" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="instrument_mode_id" nillable="true" type="cassini:instrument_mode_id" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="inst_cmprs_param" nillable="true" type="cassini:inst_cmprs_param" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="inst_cmprs_rate" nillable="true" type="cassini:inst_cmprs_rate" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="inst_cmprs_ratio" nillable="true" type="cassini:inst_cmprs_ratio" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="inst_cmprs_type" nillable="true" type="cassini:inst_cmprs_type" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="light_flood_state_flag" nillable="true" type="cassini:light_flood_state_flag" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="method_description" nillable="true" type="cassini:method_description" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="missing_lines" nillable="true" type="cassini:missing_lines" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="missing_packet_flag" nillable="true" type="cassini:missing_packet_flag" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="observation_id" nillable="true" type="cassini:observation_id" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="optics_temperature" nillable="true" type="cassini:optics_temperature" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="order_number" nillable="true" type="cassini:order_number" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="parallel_clock_voltage_index" nillable="true" type="cassini:parallel_clock_voltage_index" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="prepare_cycle_index" nillable="true" type="cassini:prepare_cycle_index" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="readout_cycle_index" nillable="true" type="cassini:readout_cycle_index" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="received_packets" nillable="true" type="cassini:received_packets" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="sensor_head_electronics_temperature" nillable="true" type="cassini:sensor_head_electronics_temperature" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="sequence_id" nillable="true" type="cassini:sequence_id" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="sequence_number" nillable="true" type="cassini:sequence_number" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="sequence_title" nillable="true" type="cassini:sequence_title" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="shutter_mode_id" nillable="true" type="cassini:shutter_mode_id" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="shutter_state_id" nillable="true" type="cassini:shutter_state_id" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="telemetry_format_id" nillable="true" type="cassini:telemetry_format_id" minOccurs="0" maxOccurs="1"> </xs:element>
    </xs:sequence>
    <!-- Begin assert statements for schematron - Enumerated Values -->
    <!-- <xs:assert test="cassini:mission_phase_name = ('Approach Science', 'Earth Encounter', 'Equinox Mission', 'High Gain Antenna Transition', 'Huygens Descent', 'Huygens Probe Separation', 'Instrument Checkout 1', 'Instrument Checkout 2', 'Interplanetary Cruise', 'Jupiter Cruise', 'Jupiter Encounter', 'Launch', 'Outer Cruise', 'Phoebe Encounter', 'Proximal Orbits', 'Quiet Cruise', 'Saturn Orbit Insertion', 'Science Cruise', 'Solstice Mission', 'Space Science', 'TCM 1', 'Titan A Encounter', 'Titan B Encounter', 'Titan C Huygens', 'Tour', 'Tour Pre-Huygens', 'Venus 1 Cruise', 'Venus 1 Encounter', 'Venus 2 - Earth Cruise', 'Venus 2 Encounter')"/> -->
    <!-- <xs:assert test="cassini:delayed_readout_flag = ('No', 'Yes')"/> -->
    <!-- <xs:assert test="cassini:inst_cmprs_type = ('Lossless', 'Lossy', 'Notcomp')"/> -->
    <!-- <xs:assert test="cassini:light_flood_state_flag = ('Off', 'On')"/> -->
    <!-- <xs:assert test="cassini:missing_packet_flag = ('No', 'Yes')"/> -->
    <!-- <xs:assert test="cassini:shutter_state_id = ('Disabled', 'Enabled')"/> -->
    <!-- End assert statements for schematron - Enumerated Values -->
  </xs:complexType>

  <xs:complexType name="PPI_Specific_Attributes">
    <xs:annotation>
      <xs:documentation>The PPI Specific Attributes class provides local
        attributes used by fields and particles
        instruments.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="mission_phase_name" nillable="true" type="cassini:mission_phase_name" minOccurs="0" maxOccurs="unbounded"> </xs:element>
      <xs:element name="spacecraft_clock_count_partition" nillable="true" type="cassini:spacecraft_clock_count_partition" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="spacecraft_clock_start_count" nillable="true" type="cassini:spacecraft_clock_start_count" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="spacecraft_clock_stop_count" nillable="true" type="cassini:spacecraft_clock_stop_count" minOccurs="0" maxOccurs="1"> </xs:element>
    </xs:sequence>
    <!-- Begin assert statements for schematron - Enumerated Values -->
    <!-- <xs:assert test="cassini:mission_phase_name = ('Approach Science', 'Earth Encounter', 'Equinox Mission', 'High Gain Antenna Transition', 'Huygens Descent', 'Huygens Probe Separation', 'Instrument Checkout 1', 'Instrument Checkout 2', 'Interplanetary Cruise', 'Jupiter Cruise', 'Jupiter Encounter', 'Launch', 'Outer Cruise', 'Phoebe Encounter', 'Proximal Orbits', 'Quiet Cruise', 'Saturn Orbit Insertion', 'Science Cruise', 'Solstice Mission', 'Space Science', 'TCM 1', 'Titan A Encounter', 'Titan B Encounter', 'Titan C Huygens', 'Tour', 'Tour Pre-Huygens', 'Venus 1 Cruise', 'Venus 1 Encounter', 'Venus 2 - Earth Cruise', 'Venus 2 Encounter')"/> -->
    <!-- End assert statements for schematron - Enumerated Values -->
  </xs:complexType>

  <xs:complexType name="UVIS_Specific_Attributes">
    <xs:annotation>
      <xs:documentation>The UVIS Specific Attributes class provides
        local attributes used by UVIS observations.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="mission_phase_name" nillable="true" type="cassini:mission_phase_name" minOccurs="0" maxOccurs="unbounded"> </xs:element>
      <xs:element name="spacecraft_clock_count_partition" nillable="true" type="cassini:spacecraft_clock_count_partition" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="spacecraft_clock_start_count" nillable="true" type="cassini:spacecraft_clock_start_count" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="spacecraft_clock_stop_count" nillable="true" type="cassini:spacecraft_clock_stop_count" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="compression_type" nillable="true" type="cassini:compression_type" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="high_voltage_power_supply_state" nillable="true" type="cassini:high_voltage_power_supply_state" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="integration_duration" nillable="true" type="cassini:integration_duration" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="occultation_port_state" nillable="true" type="cassini:occultation_port_state" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="odc_id" nillable="true" type="cassini:odc_id" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="slit_state" nillable="true" type="cassini:slit_state" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="test_pulse_state" nillable="true" type="cassini:test_pulse_state" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="hdac_dwell_time" nillable="true" type="cassini:hdac_dwell_time" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="hdac_d_level" nillable="true" type="cassini:hdac_d_level" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="hdac_h_level" nillable="true" type="cassini:hdac_h_level" minOccurs="0" maxOccurs="1"> </xs:element>
    </xs:sequence>
    <!-- Begin assert statements for schematron - Enumerated Values -->
    <!-- <xs:assert test="cassini:mission_phase_name = ('Approach Science', 'Earth Encounter', 'Equinox Mission', 'High Gain Antenna Transition', 'Huygens Descent', 'Huygens Probe Separation', 'Instrument Checkout 1', 'Instrument Checkout 2', 'Interplanetary Cruise', 'Jupiter Cruise', 'Jupiter Encounter', 'Launch', 'Outer Cruise', 'Phoebe Encounter', 'Proximal Orbits', 'Quiet Cruise', 'Saturn Orbit Insertion', 'Science Cruise', 'Solstice Mission', 'Space Science', 'TCM 1', 'Titan A Encounter', 'Titan B Encounter', 'Titan C Huygens', 'Tour', 'Tour Pre-Huygens', 'Venus 1 Cruise', 'Venus 1 Encounter', 'Venus 2 - Earth Cruise', 'Venus 2 Encounter')"/> -->
    <!-- <xs:assert test="cassini:high_voltage_power_supply_state = ('Off', 'On')"/> -->
    <!-- <xs:assert test="cassini:occultation_port_state = ('Closed', 'Open')"/> -->
    <!-- <xs:assert test="cassini:slit_state = ('High Resolution', 'Low Resolution', 'Occultation')"/> -->
    <!-- <xs:assert test="cassini:test_pulse_state = ('Off', 'On')"/> -->
    <!-- End assert statements for schematron - Enumerated Values -->
  </xs:complexType>

  <xs:complexType name="VIMS_Specific_Attributes">
    <xs:annotation>
      <xs:documentation>The VIMS Specific Attributes class provides
        local attributes used by VIMS observations.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="mission_phase_name" nillable="true" type="cassini:mission_phase_name" minOccurs="0" maxOccurs="unbounded"> </xs:element>
      <xs:element name="spacecraft_clock_count_partition" nillable="true" type="cassini:spacecraft_clock_count_partition" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="spacecraft_clock_start_count" nillable="true" type="cassini:spacecraft_clock_start_count" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="spacecraft_clock_stop_count" nillable="true" type="cassini:spacecraft_clock_stop_count" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="antiblooming_state_flag" nillable="true" type="cassini:antiblooming_state_flag" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="background_sampling_mode_id" nillable="true" type="cassini:background_sampling_mode_id" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="bias_state_id" nillable="true" type="cassini:bias_state_id" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="command_file_name" nillable="true" type="cassini:command_file_name" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="command_sequence_number" nillable="true" type="cassini:command_sequence_number" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="compressor_id" nillable="true" type="cassini:compressor_id" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="data_buffer_state_flag" nillable="true" type="cassini:data_buffer_state_flag" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="detector_temperature" nillable="true" type="cassini:detector_temperature" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="fast_hk_item_name" nillable="true" type="cassini:fast_hk_item_name" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="fast_hk_pickup_rate" nillable="true" type="cassini:fast_hk_pickup_rate" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="gain_mode_id" nillable="true" type="cassini:gain_mode_id" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="housekeeping_clock_count" nillable="true" type="cassini:housekeeping_clock_count" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="inst_cmprs_name" nillable="true" type="cassini:inst_cmprs_name" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="inst_cmprs_ratio" nillable="true" type="cassini:inst_cmprs_ratio" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="instrument_data_rate" nillable="true" type="cassini:instrument_data_rate" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="instrument_mode_id" nillable="true" type="cassini:instrument_mode_id" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="instrument_temperature" nillable="true" type="cassini:instrument_temperature" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="integration_delay_flag" nillable="true" type="cassini:integration_delay_flag" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="interframe_delay_duration" nillable="true" type="cassini:interframe_delay_duration" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="interline_delay_duration" nillable="true" type="cassini:interline_delay_duration" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="missing_packet_flag" nillable="true" type="cassini:missing_packet_flag" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="missing_pixels" nillable="true" type="cassini:missing_pixels" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="native_start_time" type="cassini:native_start_time" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="native_stop_time" type="cassini:native_stop_time" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="observation_id" nillable="true" type="cassini:observation_id" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="offset_flag" nillable="true" type="cassini:offset_flag" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="optics_temperature" nillable="true" type="cassini:optics_temperature" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="overwritten_channel_flag" nillable="true" type="cassini:overwritten_channel_flag" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="packing_flag" nillable="true" type="cassini:packing_flag" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="parameter_set_id" nillable="true" type="cassini:parameter_set_id" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="power_state_flag_infrared" nillable="true" type="cassini:power_state_flag_infrared" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="power_state_flag_visible" nillable="true" type="cassini:power_state_flag_visible" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="sampling_mode_id_infrared" nillable="true" type="cassini:sampling_mode_id_infrared" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="sampling_mode_id_visible" nillable="true" type="cassini:sampling_mode_id_visible" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="scan_mode_id" nillable="true" type="cassini:scan_mode_id" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="sequence_id" nillable="true" type="cassini:sequence_id" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="sequence_title" nillable="true" type="cassini:sequence_title" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="shutter_state_id" nillable="true" type="cassini:shutter_state_id" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="snapshot_mode_flag" nillable="true" type="cassini:snapshot_mode_flag" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="spectral_editing_flag" nillable="true" type="cassini:spectral_editing_flag" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="spectral_summing_flag" nillable="true" type="cassini:spectral_summing_flag" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="swath_length" nillable="true" type="cassini:swath_length" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="swath_width" nillable="true" type="cassini:swath_width" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="telemetry_format_id" nillable="true" type="cassini:telemetry_format_id" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="x_offset" nillable="true" type="cassini:x_offset" minOccurs="0" maxOccurs="1"> </xs:element>
      <xs:element name="z_offset" nillable="true" type="cassini:z_offset" minOccurs="0" maxOccurs="1"> </xs:element>
    </xs:sequence>
    <!-- Begin assert statements for schematron - Enumerated Values -->
    <!-- <xs:assert test="cassini:mission_phase_name = ('Approach Science', 'Earth Encounter', 'Equinox Mission', 'High Gain Antenna Transition', 'Huygens Descent', 'Huygens Probe Separation', 'Instrument Checkout 1', 'Instrument Checkout 2', 'Interplanetary Cruise', 'Jupiter Cruise', 'Jupiter Encounter', 'Launch', 'Outer Cruise', 'Phoebe Encounter', 'Proximal Orbits', 'Quiet Cruise', 'Saturn Orbit Insertion', 'Science Cruise', 'Solstice Mission', 'Space Science', 'TCM 1', 'Titan A Encounter', 'Titan B Encounter', 'Titan C Huygens', 'Tour', 'Tour Pre-Huygens', 'Venus 1 Cruise', 'Venus 1 Encounter', 'Venus 2 - Earth Cruise', 'Venus 2 Encounter')"/> -->
    <!-- <xs:assert test="cassini:background_sampling_mode_id = ('Avg2', 'Avg4', 'Noback', 'Normal', 'Single', 'Zerosub')"/> -->
    <!-- <xs:assert test="cassini:bias_state_id = ('High', 'Low')"/> -->
    <!-- <xs:assert test="cassini:data_buffer_state_flag = ('Disabled', 'Enabled')"/> -->
    <!-- <xs:assert test="cassini:integration_delay_flag = ('Disabled', 'Enabled')"/> -->
    <!-- <xs:assert test="cassini:missing_packet_flag = ('No', 'Yes')"/> -->
    <!-- <xs:assert test="cassini:offset_flag = ('Off', 'On')"/> -->
    <!-- <xs:assert test="cassini:overwritten_channel_flag = ('Off', 'On')"/> -->
    <!-- <xs:assert test="cassini:packing_flag = ('Off', 'On')"/> -->
    <!-- <xs:assert test="cassini:power_state_flag_infrared = ('Off', 'On')"/> -->
    <!-- <xs:assert test="cassini:power_state_flag_visible = ('Off', 'On')"/> -->
    <!-- <xs:assert test="cassini:shutter_state_id = ('Disabled', 'Enabled')"/> -->
    <!-- <xs:assert test="cassini:snapshot_mode_flag = ('Off', 'On')"/> -->
    <!-- <xs:assert test="cassini:spectral_editing_flag = ('Off', 'On')"/> -->
    <!-- <xs:assert test="cassini:spectral_summing_flag = ('Off', 'On')"/> -->
    <!-- End assert statements for schematron - Enumerated Values -->
  </xs:complexType>

    <xs:annotation>
      <xs:documentation>This section contains the simpleTypes that provide more constraints
        than those at the base data type level. The simpleTypes defined here build on the base data
        types. This is another component of the common dictionary and therefore falls within the
        common namespace.
      </xs:documentation>
    </xs:annotation>

  <xs:complexType name="antiblooming_state_flag">
    <xs:annotation>
      <xs:documentation>The antiblooming_state_flag element indicates
        whether antiblooming was used for this image. Blooming occurs
        when photons from an individual cell in a CCD array overflow
        into surrounding cells. Antiblooming measures are used to either
        prevent or correct for this effect.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Short_String_Collapsed">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="background_sampling_mode_id">
    <xs:annotation>
      <xs:documentation>The background_sampling_mode_id element
        identifies the background sampling mode. In a scanning type
        camera, background refers to the dark current measurement that
        is taken, with the camera shutter closed, while the scanner
        returns to the beginning of the next line. The value of the
        background may then be subtracted from the data to produce a
        more accurate measurement. Note: For Cassini, sampling modes
        allow up to four samples to be averaged for each background
        point.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Short_String_Collapsed">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="bias_state_id">
    <xs:annotation>
      <xs:documentation>The bias_state_id element identifies the bias
        state of the infrared channel of the VIMS
        instrument.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Short_String_Collapsed">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="bias_strip_mean">
    <xs:annotation>
      <xs:documentation>The bias_strip_mean element provides the mean
        value of the bias strip (also known as overclocked pixels). The
        bias strip is an area of a CCD that provides a measure of the
        bias level of the electronics (ie., electronics noise). It is
        not affected by dark current. Note: For Cassini, this mean does
        not include the values from the first and last lines of the
        CCD.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Real">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="calibration_lamp_state_flag">
    <xs:annotation>
      <xs:documentation>The calibration_lamp_state_flag element
        indicates whether a lamp used for onboard camera calibration is
        turned on or off.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Short_String_Collapsed">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="command_file_name">
    <xs:annotation>
      <xs:documentation>The command_file_name element provides the name
        of the file containing the commanded observation description for
        this product. Note: For Cassini, this comes from the Instrument
        Operations Interface (IOI) file.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Short_String_Collapsed">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="command_sequence_number">
    <xs:annotation>
      <xs:documentation>The command_sequence_number element provides a
        numeric identifier for a sequence of commands sent to a
        spacecraft or instrument.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Integer">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="compression_type">
    <xs:annotation>
      <xs:documentation> The compression_type element indicates the type
        of compression/encoding used for data that was subsequently
        decompressed/unencoded before storage.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Short_String_Collapsed">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="compressor_id">
    <xs:annotation>
      <xs:documentation>The compressor_id element identifies the
        compressor through which the data was
        compressed.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Integer">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="dark_strip_mean">
    <xs:annotation>
      <xs:documentation>The dark_strip_mean element provides the mean
        value of the pixels in the dark strip area of a CCD. The dark
        strip is an area of the CCD which is covered in such a way as to
        receive no light. The dark strip provides a measure of the dark
        current in the CCD. Note: For Cassini, the dark strip pixels
        were referred to as extended pixels. Also, the mean was
        calculated without the values from the first and last lines of
        the CCD.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Real">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="data_buffer_state_flag">
    <xs:annotation>
      <xs:documentation>The data_buffer_state_flag element indicates
        whether the data buffer onboard the spacecraft was enabled to
        allow for the temporary storage of the data before being
        downloaded.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Short_String_Collapsed">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="data_conversion_type">
    <xs:annotation>
      <xs:documentation>The data_conversion_type element provides the
        method of conversion used to reduce an image from one bit depth
        to another. Note: For Cassini, this means conversion of a
        selected image from 12 to 8 bits.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Short_String_Collapsed">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="delayed_readout_flag">
    <xs:annotation>
      <xs:documentation>The delayed_readout_flag element provides an
        indication of whether or not an image had to remain stored on a
        CCD while some some other instrument function was taking place.
        Note: for Cassini, the delay in the image readout is due to the
        readout of the alternate camera image from the
        CCD.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Short_String_Collapsed">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="detector_temperature_WO_Units">
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1.7976931348623157e308"/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="detector_temperature">
    <xs:annotation>
      <xs:documentation>The detector_temperature is the temperature that
        the instrument (detector) operated at while a measurement was
        made.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="cassini:detector_temperature_WO_Units">
        <xs:attribute name="unit" type="pds:Units_of_Temperature" use="required" />
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="electronics_bias">
    <xs:annotation>
      <xs:documentation>The electronics_bias element provides the
        commanded electronics bias value that is used to ensure that all
        digital number (DN) values in the data are greater than
        zero.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Integer">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="expected_packets">
    <xs:annotation>
      <xs:documentation>The expected_packets element provides the total
        number of telemetry packets which constitute a complete data
        product, i.e., a data product without missing
        data.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Integer">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="exposure_duration_WO_Units">
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1.7976931348623157e308"/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="exposure_duration">
    <xs:annotation>
      <xs:documentation>The exposure_duration element provides the value
        of the time interval between the opening and closing of an
        instrument aperture (such as a camera
        shutter).</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="cassini:exposure_duration_WO_Units">
        <xs:attribute name="unit" type="pds:Units_of_Time" use="required" />
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="fast_hk_item_name">
    <xs:annotation>
      <xs:documentation>The fast_hk_item_name element provides the names
        of the housekeeping items which were collected. Fast
        housekeeping is a partial gathering of the available engineering
        data values, or items, that pertain to and describe the
        condition of the instrument itself. Note: For Cassini, up to
        four items can be collected, via fast housekeeping, and stored
        in the band suffix, or backplane, of the spectral cube. The fast
        housekeeping value will always supercede the slow housekeeping
        value, if present. If fast housekeeping is not used, this item
        will not be present in the label.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Short_String_Collapsed">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="fast_hk_pickup_rate">
    <xs:annotation>
      <xs:documentation>The fast_hk_pickup_rate element provides the
        rate at which fast housekeeping is collected. Fast housekeeping
        is a partial gathering of the available engineering data values,
        or items, that pertain to and describe the condition of the
        instrument itself. Note: For Cassini, this value (n) is stored
        in the band suffix, or backplane, of the spectral cube for the
        infrared channel. If (n) is set to zero, then housekeeping
        values will be collected at every pixel (i.e., every pixel of
        the backplane will have a value). If (n) is set from 1 to
        swath_length, then housekeeping values will be collected every
        nth line (i.e., only the first pixel of every nth line of the
        backplane will have a value). If no infrared housekeeping items
        were selected for the cube, then this keyword will not be
        present.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Integer">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="filter_name">
    <xs:annotation>
      <xs:documentation>The filter_name element provides the
        commonly-used name of the instrument filter through which an
        image or measurement was acquired or which is associated with a
        given instrument mode.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Short_String_Collapsed">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="filter_temperature_WO_Units">
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1.7976931348623157e308"/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="filter_temperature">
    <xs:annotation>
      <xs:documentation>The filter_temperature element provides the
        temperature of the filter wheel housing.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="cassini:filter_temperature_WO_Units">
        <xs:attribute name="unit" type="pds:Units_of_Temperature" use="required" />
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="first_line_center">
    <xs:annotation>
      <xs:documentation>Line coordinate at the center of the first line
        element</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Real">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="first_sample_center">
    <xs:annotation>
      <xs:documentation>Sample coordinate at the center of the first
        sample element</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Real">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="flight_software_version_id">
    <xs:annotation>
      <xs:documentation>The flight_software_version_id element
        identifies the version of the instrument flight software used to
        acquire the image.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Short_String_Collapsed">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="focal_plane">
    <xs:annotation>
      <xs:documentation>Focal plane used in CIRS
        observations.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Integer">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="gain_mode_id">
    <xs:annotation>
      <xs:documentation>The gain_mode_id element identifies the gain
        state of an instrument. Gain is a constant value which is
        multiplied with an instrument's output signal to increase or
        decrease the level of that output.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Short_String_Collapsed">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="hdac_d_level">
    <xs:annotation>
      <xs:documentation>HDAC deuterium cell filter voltage
        levels</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Real">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="hdac_dwell_time">
    <xs:annotation>
      <xs:documentation>The value associated with the HDAC channel which
        defines the number of integrations taken at a particular
        filament level. HDAC integration time is always 125
        milliseconds.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Real">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="hdac_h_level">
    <xs:annotation>
      <xs:documentation>HDAC hydrogen cell filter voltage
        levels</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Real">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="high_voltage_power_supply_state">
    <xs:annotation>
      <xs:documentation>The state of the high voltage power power supply
        on an instrument.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Short_String_Collapsed">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="housekeeping_clock_count">
    <xs:annotation>
      <xs:documentation>The housekeeping_clock_count element provides
        the spacecraft clock value at the time that slow housekeeping
        was collected. Slow housekeeping is the gathering of all
        available engineering data values, or items, that pertain to and
        describe the condition of the instrument itself. Typically this
        value is read from the last (most recent) housekeeping packet
        received before the end of the spectral cube
        downlink.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Short_String_Collapsed">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="image_mid_time">
    <xs:annotation>
      <xs:documentation>The image_mid_time element provides the time at
        which the exposure of the image was half way through its
        duration. This value is calculated from the formula,
        spacecraft_clock_stop_count - (exposure_duration/2), and then
        converted to UTC. Note: For Cassini, when the shutter is
        inhibited (i.e., shutter_state_id='Disabled'), the
        image_mid_time = start_date_time = stop_date_time, and all three
        represent the start of the exposure window during the prepare
        cycle of the image.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Time">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="image_number">
    <xs:annotation>
      <xs:documentation>The image_number element is a value obtained
        from the spacecraft_clock_start_count. The image number is
        another commonly used identifier for an image.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Short_String_Collapsed">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="image_observation_type">
    <xs:annotation>
      <xs:documentation>The image_observation_type element identifies
        the type or purpose of an observation that may be associated
        with an image. Image observation types include limb, black sky,
        spacecraft calibration, or other image attribute that may be
        used for identification.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Short_String_Collapsed">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="inst_cmprs_name">
    <xs:annotation>
      <xs:documentation>The inst_cmprs_name element identifies the type
        of on-board compression used for data storage and
        transmission.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Integer">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="inst_cmprs_param">
    <xs:annotation>
      <xs:documentation>The inst_cmprs_param element is a variable which
        specifies on-board compression determination by image quality or
        by compression factor, based on a selected on-board compression
        mode.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Integer">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="inst_cmprs_rate">
    <xs:annotation>
      <xs:documentation>The inst_cmprs_rate element provides the average
        number of bits needed to represent a pixel for an on-board
        compressed image.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Real">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="inst_cmprs_ratio">
    <xs:annotation>
      <xs:documentation>The inst_cmprs_ratio element provides the ratio
        of the size, in bytes, of the original uncompressed data file to
        its compressed form.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Real">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="inst_cmprs_type">
    <xs:annotation>
      <xs:documentation>The inst_cmprs_type element identifies the type
        of on-board compression used for data storage and
        transmission.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Real">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="instrument_data_rate">
    <xs:annotation>
      <xs:documentation>The instrument_data_rate element provides the
        rate at which data were transmitted from an instrument to the
        spacecraft.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Real">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="instrument_mode_id">
    <xs:annotation>
      <xs:documentation>The instrument_mode_id element provides an
        instrument-dependent designation of operating mode. This may be
        simply a number, letter or code, or a word such as 'normal',
        'full resolution', 'near encounter', or 'fixed
        grating'.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Short_String_Collapsed">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="instrument_temperature">
    <xs:annotation>
      <xs:documentation>The instrument_temperature element provides the
        temperature of an instrument or some part of an
        instrument.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Real">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="integration_delay_flag">
    <xs:annotation>
      <xs:documentation>The integration_delay_flag indicates whether the
        integration time for a rapidly acquired spectral cube was
        extended by shrinking the pixel synch pulse.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Real">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="integration_duration_WO_Units">
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1.7976931348623157e308"/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="integration_duration">
    <xs:annotation>
      <xs:documentation>The duration of a time over which a particular
        instrument is integrating.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="cassini:integration_duration_WO_Units">
        <xs:attribute name="unit" type="pds:Units_of_Time" use="required" />
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="interframe_delay_duration_WO_Units">
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1.7976931348623157e308"/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="interframe_delay_duration">
    <xs:annotation>
      <xs:documentation>The interframe_delay_duration element provides
        the duration of the delay between the end of one frame and the
        start of the next to allow time for the scanning mirror to
        return to its starting position.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="cassini:interframe_delay_duration_WO_Units">
        <xs:attribute name="unit" type="pds:Units_of_Time" use="required" />
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="interline_delay_duration_WO_Units">
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1.7976931348623157e308"/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="interline_delay_duration">
    <xs:annotation>
      <xs:documentation>The interline_delay_duration element provides
        the duration of the delay between the end of one line of an
        image and the start of the next. Note: For Cassini, this refers
        to the infrared line. Time is allowed for: 1) the infrared
        duration mirror to return to its starting point, 2) collection
        of background data and 3) the alignment of the exposure center
        times between the infrared and visible
        channels.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="cassini:interline_delay_duration_WO_Units">
        <xs:attribute name="unit" type="pds:Units_of_Time" use="required" />
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="last_line_center">
    <xs:annotation>
      <xs:documentation>Line coordinate at the center of the last line
        element</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Real">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="last_sample_center">
    <xs:annotation>
      <xs:documentation>Sample coordinate at the center of the last
        sample element</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Real">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="light_flood_state_flag">
    <xs:annotation>
      <xs:documentation>The light_flood_state_flag element indicates the
        mode (on or off) of light flooding for an
        instrument.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Short_String_Collapsed">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="line_center">
    <xs:annotation>
      <xs:documentation>For equirectangular cubes, this is the latitude
        of the pixel center, in degrees. For point perspective cubes, it
        is the scaled offset from the body center, in the direction of
        increasing J2000 Declination, in milliradians.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Real">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="line_name">
    <xs:annotation>
      <xs:documentation>Coordinate name for the line
        axis</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Short_String_Collapsed">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="mean_body_angular_semidiameter_WO_Units">
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1.7976931348623157e308"/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="mean_body_angular_semidiameter">
    <xs:annotation>
      <xs:documentation>The mean equatorial angular radius of the body
        as seen by the spacecraft</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="cassini:mean_body_angular_semidiameter_WO_Units">
        <xs:attribute name="unit" type="pds:Units_of_Angle" use="required" />
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="mean_body_phase_angle_WO_Units">
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1.7976931348623157e308"/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="mean_body_phase_angle">
    <xs:annotation>
      <xs:documentation>The mean angle between the radial vector of the
        spacecraft and the radial vector of the Sun, from the center of
        the body. </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="cassini:mean_body_phase_angle_WO_Units">
        <xs:attribute name="unit" type="pds:Units_of_Angle" use="required" />
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="mean_boresight_latitude_zpd_WO_Units">
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1.7976931348623157e308"/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="mean_boresight_latitude_zpd">
    <xs:annotation>
      <xs:documentation>The mean planetographic latitude of the
        boresight at the ZPD time.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="cassini:mean_boresight_latitude_zpd_WO_Units">
        <xs:attribute name="unit" type="pds:Units_of_Angle" use="required" />
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="mean_boresight_local_time">
    <xs:annotation>
      <xs:documentation>The mean local solar time in hours since
        midnight.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Real">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="mean_boresight_longitude_zpd_WO_Units">
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1.7976931348623157e308"/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="mean_boresight_longitude_zpd">
    <xs:annotation>
      <xs:documentation>The mean west longitude of the boresight at the
        ZPD time.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="cassini:mean_boresight_longitude_zpd_WO_Units">
        <xs:attribute name="unit" type="pds:Units_of_Angle" use="required" />
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="mean_boresight_right_ascension_WO_Units">
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1.7976931348623157e308"/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="mean_boresight_right_ascension">
    <xs:annotation>
      <xs:documentation>The mean right ascension of the boresight in the
        J2000 coordinate system.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="cassini:mean_boresight_right_ascension_WO_Units">
        <xs:attribute name="unit" type="pds:Units_of_Angle" use="required" />
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="mean_boresight_solar_phase_WO_Units">
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1.7976931348623157e308"/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="mean_boresight_solar_phase">
    <xs:annotation>
      <xs:documentation>The mean angle between the direction vector of
        the Sun and the normal to the surface at the point at which the
        boresight intersects the surface.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="cassini:mean_boresight_solar_phase_WO_Units">
        <xs:attribute name="unit" type="pds:Units_of_Angle" use="required" />
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="mean_boresight_solar_zenith_WO_Units">
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1.7976931348623157e308"/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="mean_boresight_solar_zenith">
    <xs:annotation>
      <xs:documentation>The mean angle between the direction vector of
        the Sun and the normal to the surface at the point at which the
        boresight intersects the surface.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="cassini:mean_boresight_solar_zenith_WO_Units">
        <xs:attribute name="unit" type="pds:Units_of_Angle" use="required" />
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="method_description">
    <xs:annotation>
      <xs:documentation>The method_description element describes the
        method used to perform a particular
        observation.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Text_Collapsed">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="missing_lines">
    <xs:annotation>
      <xs:documentation>The missing_lines element is the total number of
        lines of data missing from an image or observation when it was
        received on Earth. Note: For Cassini, this provides the number
        of missing or incomplete lines of image data.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Integer">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="missing_packet_flag">
    <xs:annotation>
      <xs:documentation>The missing_packet_flag element indicates
        whether or not there were telemetry packets that were expected
        but not received.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Short_String_Collapsed">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="missing_pixels">
    <xs:annotation>
      <xs:documentation>The missing_pixels element provides the number
        of pixels missing from an image or observation. Note: For
        Cassini, this refers to the core of a spectral cube, which
        indicates that the expected number of pixels (as determined by
        the commanded cube dimensions) did not arrive. The positions of
        these pixels are filled with CORE_NULL. Pixels purposefully set
        to CORE_NULL (e.g., due to time insertion) are not included in
        this total.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Integer">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="mission_phase_name">
    <xs:annotation>
      <xs:documentation>The mission_phase_name identifies a time period
        within the mission.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Short_String_Preserved">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="native_start_time">
    <xs:annotation>
      <xs:documentation>Ephemeris time in seconds past J2000 at the
        beginning of a time period of interest.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1.7976931348623157e308"/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="native_stop_time">
    <xs:annotation>
      <xs:documentation>Ephemeris time in seconds past J2000 at the end
        of a time period of interest.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1.7976931348623157e308"/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="observation_id">
    <xs:annotation>
      <xs:documentation>The observation_id element uniquely identifies a
        scientific observation.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Short_String_Collapsed">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="occultation_port_state">
    <xs:annotation>
      <xs:documentation>The state of the occultation port covering an
        instrument.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Short_String_Collapsed">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="odc_id">
    <xs:annotation>
      <xs:documentation>The observation description command, the ID of
        the command sequence sent to the UVIS instrument to generate
        observations.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Short_String_Collapsed">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="offset_flag">
    <xs:annotation>
      <xs:documentation>The offset_flag element indicates whether an
        offset was used to shift or displace a data value. Note: For
        Cassini, this indicates whether an Occultation Mode spectral
        cube used the commanded X_OFFSET and Z_OFFSET ('OFF') or used
        offsets calculated by the flight software from the non-
        Occultation Mode spectral cube ('ON').</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Short_String_Collapsed">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="optics_temperature_WO_Units">
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1.7976931348623157e308"/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="optics_temperature">
    <xs:annotation>
      <xs:documentation>The optics_temperature element provides the
        temperature of the front optics of an
        instrument.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="cassini:optics_temperature_WO_Units">
        <xs:attribute name="unit" type="pds:Units_of_Temperature" use="required" />
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="order_number">
    <xs:annotation>
      <xs:documentation>The order_number element is a unique
        system_generated number which is used to identify an order of
        which observations were executed.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Integer">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="overwritten_channel_flag">
    <xs:annotation>
      <xs:documentation>The overwritten_channel_flag element indicates
        whether spectral data was sacrificed in lieu of more precise
        timing information. Note: For Cassini, if the flag is set to
        'On', the observation time values are collected for each pixel
        and stored in the backplanes of the spectral cube. The spectral
        data in channels 347-352 will be set to the value
        -8192.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Short_String_Collapsed">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="packing_flag">
    <xs:annotation>
      <xs:documentation>The packing_flag element indicates whether
        multiple spectral cubes were packed and stored as a single
        spectral cube product, due to their small size and lack of
        unique timing information.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Short_String_Collapsed">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="parallel_clock_voltage_index">
    <xs:annotation>
      <xs:documentation>The parallel_clock_voltage_index element
        provides the commanded parallel clock voltage value which
        controls clocking frequency.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Integer">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="parameter_set_id">
    <xs:annotation>
      <xs:documentation>The parameter_set_id element identifies the
        parameter set which was used to produce the data file. Note: For
        Cassini, typically this will be the command_sequence_number with
        a counter/character appended to the end. </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Short_String_Collapsed">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="power_state_flag_infrared">
    <xs:annotation>
      <xs:documentation>The power_state_flag element indicates whether
        the infrared channel is turned on or off."</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Short_String_Collapsed">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="power_state_flag_visible">
    <xs:annotation>
      <xs:documentation>The power_state_flag element indicates whether
        the visible channel is turned on or off."</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Short_String_Collapsed">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="prepare_cycle_index">
    <xs:annotation>
      <xs:documentation>The prepare_cycle_index element provides the
        element number within the Prepare Cycle table selected for this
        image. Prepare cycles include activities carried on within an
        instrument between sequential data acquisition and CCD readout
        operations. This includes such things as light flooding and
        erasure of the CCD and filter wheel stepping. Note: for Cassini,
        the Prepare Cycle table provides a translation of these values
        into cycle durations in seconds.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Integer">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="readout_cycle_index">
    <xs:annotation>
      <xs:documentation>The readout_cycle_index element provides the
        element number within the Readout Cycle table selected for this
        image. The readout cycle of an instrument involves that part of
        its function involved in reading the light values out of a CCD
        array. Note: for Cassini, the Readout Cycle table provides a
        translation of these values into cycle durations in
        seconds.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Integer">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="received_packets">
    <xs:annotation>
      <xs:documentation>The received_packets element provides the total
        number of telemetry packets which constitute a reconstructed
        data product.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Integer">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="sample_center">
    <xs:annotation>
      <xs:documentation>For equirectangular cubes, this is the West
        longitude of the pixel center, in degrees. For point perspective
        cubes, it is the scaled offset from the body center, in the
        direction of decreasing J2000 Right Ascension, in
        milliradians.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Real">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="sample_name">
    <xs:annotation>
      <xs:documentation>Coordinate name for the sample
        axis</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Short_String_Collapsed">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="sampling_mode_id_infrared">
    <xs:annotation>
      <xs:documentation>The sampling_mode_id element identifies the
        resolution mode of the infrared channel.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Short_String_Collapsed">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="sampling_mode_id_visible">
    <xs:annotation>
      <xs:documentation>The sampling_mode_id element identifies the
        resolution mode of the visible channel.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Short_String_Collapsed">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="scan_mode_id">
    <xs:annotation>
      <xs:documentation>The scan_mode_id element identifies one of
        several internal rates for data acquisition by an
        instrument.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Short_String_Collapsed">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="sensor_head_electronics_temperature_WO_Units">
    <xs:restriction base="pds:ASCII_Real">
     <xs:minInclusive value="-1.7976931348623157e308"/>
     <xs:maxInclusive value="1.7976931348623157e308"/>
	   </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="sensor_head_electronics_temperature">
    <xs:annotation>
      <xs:documentation>The sensor_head_electronics_temperature element
        provides the temperature of the sensor head
        electronics.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="cassini:sensor_head_electronics_temperature_WO_Units">
        <xs:attribute name="unit" type="pds:Units_of_Temperature" use="required" />
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="sequence_id">
    <xs:annotation>
      <xs:documentation>TThe sequence_id element provides an
        identification of the spacecraft sequence associated with the
        given product..</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Short_String_Collapsed">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="sequence_number">
    <xs:annotation>
      <xs:documentation>The sequence_number element indicates a number
        designating the place occupied by an item in an ordered
        sequence.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Integer">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="sequence_title">
    <xs:annotation>
      <xs:documentation>The sequence_title element provides the title
        assigned to a particular observation sequence during planning or
        data processing.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Short_String_Collapsed">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="shutter_mode_id">
    <xs:annotation>
      <xs:documentation>The shutter_mode_id element identifies the state
        of an imaging instrument's shutter during image acquisition.
        Note: the instrument shutter mode affects the radiometric
        properties of the camera.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Short_String_Collapsed">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="shutter_state_id">
    <xs:annotation>
      <xs:documentation>The shutter_state_id element provides an
        indication of the state of an instrument's shutters at the time
        of an exposure.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Short_String_Collapsed">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="slit_state">
    <xs:annotation>
      <xs:documentation>The position of the slit on the Cassini UVIS
        instrument.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Short_String_Collapsed">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="snapshot_mode_flag">
    <xs:annotation>
      <xs:documentation>The snapshot_mode_flag element indicates whether
        the instrument was to end data collection either after one
        instance or after the commanded duration.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Short_String_Collapsed">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="spacecraft_clock_count_partition">
    <xs:annotation>
      <xs:documentation>The spacecraft_clock_count_partition element
        indicates the clock partition active for
        spacecraft_clock_start_count and spacecraft_clock_stop_count
        elements.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Integer">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="spacecraft_clock_start_count">
    <xs:annotation>
      <xs:documentation>The spacecraft_clock_start_count attribute
        provides the value of the spacecraft clock at the actual start
        of image acquisition. There may be small inconsistencies with
        start_date_time due to varying correlation between UTC and the
        spacecraft clock. For purposes of data analysis the spacecraft
        clock value should be used. The format of this field is
        compatible with the NAIF Toolkit software where s = seconds
        converted from the clock's coarse counter and m = seconds
        converted from the clock's fine counter.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Short_String_Collapsed">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="spacecraft_clock_stop_count">
    <xs:annotation>
      <xs:documentation>The spacecraft_clock_stop_count attribute
        provides the value of the spacecraft clock at the actual end of
        image acquisition. There may be small inconsistencies with
        stop_date_time due to varying correlation between UTC and the
        spacecraft clock. For purposes of data analysis the spacecraft
        clock value should be used. The format of this field is
        compatible with the NAIF Toolkit software where s = seconds
        converted from the clock's coarse counter and m = seconds
        converted from the clock's fine counter.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Short_String_Collapsed">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="spectral_editing_flag">
    <xs:annotation>
      <xs:documentation>The spectral_editing_flag element indicates
        whether the spectral cube has been reduced to a subset of the
        bands in the original cube.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Short_String_Collapsed">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="spectral_summing_flag">
    <xs:annotation>
      <xs:documentation>The spectral_summing_flag element indicates
        whether the spectral cube has had some bands summed to reduce
        the spacecraft's Solid State Recorder (SSR) data
        volume.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Short_String_Collapsed">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="swath_length">
    <xs:annotation>
      <xs:documentation>The swath_length element provides the number of
        pixels (in the lines direction) collected for a spectral cube
        during an observation. Note: For Cassini, this will differ from
        CORE_ITEMS for Occultation Mode cubes.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Integer">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="swath_width">
    <xs:annotation>
      <xs:documentation>The swath_width element provides the number of
        pixels (in the samples direction) collected for a spectral cube
        during an observation. Note: For Cassini, this will differ from
        CORE_ITEMS for Occultation Mode cubes.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Integer">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="telemetry_format_id">
    <xs:annotation>
      <xs:documentation>The telemetry_format_id element supplies a
        telemetry format code.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Short_String_Collapsed">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="test_pulse_state">
    <xs:annotation>
      <xs:documentation>The state of the Cassini UVIS instrument's test
        pulse mechanism.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Short_String_Collapsed">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="total_spectral_power">
    <xs:annotation>
      <xs:documentation>The integrated radiance under the power
        spectrum.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Real">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="x_offset">
    <xs:annotation>
      <xs:documentation>The x_offset element indicates a shift or
        displacement of a data value in the x-direction. Note: For
        Cassini, this refers to the commanded mirror offset (in the x
        direction) within the infrared normal resolution field of view.
        For visible and infrared, the actual data collection area will
        differ when not in normal resolution mode.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Integer">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="z_offset">
    <xs:annotation>
      <xs:documentation>The z_offset element indicates a shift or
        displacement of a data value in the z-direction. Note: For
        Cassini, this refers to the commanded mirror offset (in the z
        direction) within the infrared normal resolution field of view.
        For visible and infrared, the actual data collection area will
        differ when not in normal resolution mode.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="pds:ASCII_Integer">
        <xs:attribute name="nilReason" type="pds:nil_reason" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>
